:root {
    --backColor : #202024;
    --secondColor : #121214;
    --buttonColor :red;
    --fontColor: #fff;
    --footerBack : #5429cf;
    --linearBack : #B91F1F;
}

* {
    outline: none !important;
}

body {
    background: var(--backColor);
    font-family: 'Poppins', sans-serif;
}   

.linearBackColor {
    background: var(--linearBack);
}

.buttonColor {
    background: var(--buttonColor);
}

.backColor {
    background: var(--backColor);
}

.secondColor {
    background: var(--secondColor);
}

.flex-flow-column {
    flex-flow: column wrap;
}

.custom-shape-divider-bottom-1632927177 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1632927177 svg {
    position: relative;
    display: block;
    width: calc(182% + 1.3px);
    height: 169px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1632927177 .shape-fill {
    fill: var(--backColor);
}

.homeText h2 {
    font-size: 2rem;
}

.homeText h4 {
    font-size: 3rem;
}

.fs-1 {
    font-size: 0.1rem;
}

.back-1 {
  width:100%;z-index:99;padding:5rem
}

@media screen and (max-width: 768px) { 
    #home .homeCh {
        padding: 8rem 0rem 12rem 0;
        justify-content: center !important;
    }

    nav #nav {
        display: flex !important;
        justify-content: flex-start;
        width: 100%;
    }

    nav #nav li:first-child{
        padding: 0;
    }

    .hidden-xs {
        display: none;
    }
}



// contact us ///


ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #FF2400;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #FF2400;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #FF2400;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #FF2400;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #FF2400;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
@media screen and (min-width:768px){
    ul{
        display:none;
    }
    
}
.menu-box{
  display: none;
}

.menuopen{
  display: block;
}
